# Virtual env
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs
*.log
*/logs/
*.tmp
*.temp

# ML artifacts (large / experimental only)

# SQLite / Instance folder
instance/
*.db
*.sqlite3

# Editor configs
.vscode/
.idea/

# File/folder yang di-upload user
uploads/
